.faq {
  background: var(--bg-color);
  min-height: 800px;
  height: 100vh;
  padding: 133px 0 80px;
  &__title {
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    color: var(--light-color);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    & span {
      color: var(--light-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      display: block;
    }
  }

}

