.footer {
  background: var(--bg-color);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--light-color);
  }

  &__nav-list {
    @include small-tablet  {
      padding-top: 40px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include small-tablet {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__touch-text,
  &__payment-text {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__touch,
  &__payment {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include small-tablet {
      align-items: center;
    }
  }

  &__touch {
    @include small-tablet {
      order: 5;
    }
  }

  &__payment-list {
    display: flex;
    gap: 10px;
  }

  &__payment-item {
    &--visa {
      background-image: url('../img/visa.svg');
      width: 57px;
      height: 18px;
    }

    &--mc {
      background-image: url('../img/mc.svg');
      width: 30px;
      height: 18px;
    }

    &--t{
      width: 22px;
      height: 18px;
      background-image: url('../img/t.svg');
    }
    @include bg-cover;


  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: space-between;
    padding: 21px 0;

    & small {
      color: var(--light-color);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
      @include small-tablet {
        display: none;
      }
    }

    & span {
      color: var(--light-color);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;



    }

    &-public {
      color: var(--light-color);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
    }

    @include small-tablet {
      padding: 40px 0 0;
      flex-direction: column;
      align-items: center;
      gap: 10px;

    }
  }

  &__nav {
    @include small-tablet {
      width: 100%;
    }

  }

  &__nav-list {
    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__bottom-mobile__dproxy {
    display: none;
    @include small-tablet  {
      display: inline-flex;
      order: -1;
    }
  }



}
