.nav {

  &__list {
    display: flex;
    gap: 20px;
  }

  &__link {
    color: var(--light-color);

    &.nav--active {
      background: var(--brand-colod-hover, linear-gradient(47deg, rgba(59, 237, 77, 0.75) -44.41%, #0A6FCC 124.33%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @include mobile {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 20;
    background: var(--bg-color);

  }
}

.header__nav.nav--active {
  transform: translateX(0);
  transition: transform 0.35s ease-in-out;
}

.header__nav.nav--active .header__nav-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__nav.nav--active a {
  padding: 10px 0;
  color: var(--light-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.nav-header {
  display: none;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);;

  &__btn {
    width: 26px;
    height: 15px;
    background-image: url('../img/menu-back.svg');
    margin-right: auto;
  }

  & .switch-toggle {
    margin-right: 20px;
  }

  @include mobile {
    display: flex;
    align-items: center;
  }


}
