<section class="faq">
  <div class="container faq__container">
    <h1 class="faq__title">
      FAQ
      <span>Ответы на вопросы</span>
    </h1>

    <ul class="dropdowns list-reset">
      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Какие устройства вы используете для работы прокси?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">В зависимости от вида прокси: Андроид - используем Android смартфоны. Модем - используем модем 4G устройства.</p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Какой отпечаток устройства отображается на сайтах проверки прокси?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Зависит от вида прокси: Андроид - сайты распознают ваше устройство как Android смартфон. Модем - сайты распознают ваше устройство как andriod модем.</p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Если ваш прокси отображается как Android смартфон, можно ли с ним работать используя обычный ПК и не покажется ли это подозрительным для конечного сайта?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Вы можете использовать прокси на любом устройстве, уровень доверия сайтов не ухудшится.</p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Какая скорость на мобильных прокси?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Для наших мобильных прокси мы используем 4G сети мобильной связи. Скорость по тарифу до 15 мегабит в секунду, трафик безлимитный. Реальная скорость будет зависеть от многих факторов, например, расстояние от вашего устройства до прокси, время суток и качество сигнала сети. В среднем, если у вас хорошее интернет соединение, можно рассчитывать на 8-10 мегабит в секунду для входящего трафика и столько же для исходящего.</p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Какое максимальное количество подключений возможно?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Ограничений на подключение к мобильному прокси у вас не будет. Стоит только учитывать ширину канала. Мы рекомендуем не использовать более 20-ти одновременных подключений к мобильному прокси.</p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Как часто можно менять ip-адрес на мобильных прокси?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Без ограничений</p>
        </div>
      </li>


      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Как поменять ip-адрес прокси?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Для этого можно использовать специальную ссылку, которую вы получаете от бота после покупки прокси. Для смены ip-адреса нужно просто открыть ссылку в браузере. Так же можно менять ip-адрес по таймеру, через выбранный вами промежуток времени.
          </p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Могу ли я использовать один прокси на нескольких устройствах одновременно и есть ли ограничения?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Ограничений нет, можно использовать на любом количестве девайсов.
          </p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Могу ли я использовать мобильные прокси в профильных программах?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Да, ограничений на работу с профильными программами нет. Самое главное, чтобы программа, которую вы будете использовать, работала с протоколами прокси: HTTP(s) и SOCKS.
          </p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Сколько пользователей используют один прокси?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Наш сервис предоставляет только приватные прокси, т.е. один прокси сдаётся в аренду только одному пользователю.
          </p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Для каких сайтов\сервисов подходят ваши прокси?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Мобильные прокси имеют очень широкий спектр применения. Как правило, мобильный прокси используют для работы в социальных сетях и других медиа-ресурах с повышенной активностью бан-систем. Именно благодаря трастовому мобильному IP-адресу, вы получаете большое преимущество в пользовании сервисами, в сравнении с классическими прокси или VPN. Наши прокси используют для самых разных ресурсов, среди которых: Facebook, Google, Instagram, Tik-tok, YouTube, Badoo, Viber, WhatsApp, Telegram, Discord, Periscope и масса других.
          </p>
        </div>
      </li>

      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">
          Можно ли взять прокси на тест?
          <span class="dropdown__btn-arrow"> </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Да, есть бесплатный тест 2 часа.
          </p>
        </div>
      </li>


    </ul>
  </div>
</section>
