<section class="guide-api">
  <div class="container guide-api__container">
    <h1 class="guide-api__title">Справочник API</h1>
    <p class="guide-api__descr"><span class="guide-api__symbol">*</span>Полная версия доступна <span class="guide-api__additional">в десктопной версии сайта</span></p>

    <ul class="guide-api__list list-reset">
      <li class="guide-api__item">
        <h3 class="guide-api__item-title">Смена IP</h3>

        <div class="guide-api__box guide-box" aria-expanded="false" role="button" tabindex="0">
          <div class="guide-box__inner">
            <div class="guide-box__field">
              <div class="guide-box__method guide-box__method--get">GET</div>
              <span class="guide-box__text">/changeip/</span>
              <div class="guide-box__token">
                <span>&lt;TOKEN&gt;</span>
              </div>

            </div>
            <button class="guide-box__btn btn-reset">Copy</button>
            <span class="guide-box__arrow"></span>
          </div>

          <div class="guide-api__content guide-content" aria-hidden="true">
            <div class="guide-content__url">Base URL: <span>http://api.dproxy.co</span></div>

            <div class="guide-content__fields">
              <div class="guide-content__field"><span class="guide-content__field-reponse">Response</span> <span
                  class="guide-content__field-status">HTTP/1.1 200 OK</span></div>
              <div class="guide-content__field"><span class="guide-content__field-json">{"status": "success", "message": "IP was changed"}</span></div>
            </div>
          </div>
        </div>


      </li>

      <li class="guide-api__item">
        <h3 class="guide-api__item-title">Установка таймера на смену IP</h3>

        <div class="guide-api__box guide-box" aria-expanded="false" role="button" tabindex="0">
          <div class="guide-box__inner">
            <div class="guide-box__field">
              <div class="guide-box__method guide-box__method--post">POST</div>
              <span class="guide-box__text">/api/changeip/auto/</span>
              <div class="guide-box__token">
                <span>&lt;TOKEN&gt;</span>
              </div>

            </div>
            <button class="guide-box__btn btn-reset">Copy</button>
            <span class="guide-box__arrow"></span>
          </div>

          <div class="guide-api__content guide-content" aria-hidden="true">
            <div class="guide-content__url">Base URL: <span>http://api.dproxy.co</span></div>
            <div class="guide-content__header">Header: <span class="guide-content__field-json">Content-Type: application/json</span></div>
            <div class="guide-content__body">Body: <span class="guide-content__field-json">{"interval_seconds": "60"}</span></div>

            <div class="guide-content__fields">
              <div class="guide-content__field"><span class="guide-content__field-reponse">Response</span> <span
                  class="guide-content__field-status">HTTP/1.1 200 OK</span></div>
              <div class="guide-content__field"><span class="guide-content__field-json">{"status": "success", "message": "IP rotation scheduled: interval 60 sec"}</span></div>
            </div>
          </div>
        </div>
      </li>

      <li class="guide-api__item">
        <h3 class="guide-api__item-title">Отмена таймера на смену IP</h3>

        <div class="guide-api__box guide-box" aria-expanded="false" role="button" tabindex="0">
          <div class="guide-box__inner">
            <div class="guide-box__field">
              <div class="guide-box__method guide-box__method--post">POST</div>
              <span class="guide-box__text">/api/changeip/</span>
              <div class="guide-box__token">
                <span>&lt;TOKEN&gt;</span>
              </div>

            </div>
            <button class="guide-box__btn btn-reset">Copy</button>
            <span class="guide-box__arrow"></span>
          </div>

          <div class="guide-api__content guide-content" aria-hidden="true">
            <div class="guide-content__url">Base URL: <span>http://api.dproxy.co</span></div>
            <div class="guide-content__header">Header: <span class="guide-content__field-json">Content-Type: application/json</span></div>
            <div class="guide-content__body">Body: <span class="guide-content__field-json">{"interval_seconds": "0"}</span></div>

            <div class="guide-content__fields">
              <div class="guide-content__field"><span class="guide-content__field-reponse">Response</span> <span
                  class="guide-content__field-status">HTTP/1.1 200 OK</span></div>
              <div class="guide-content__field"><span class="guide-content__field-json">{"status": "success", "message": "IP rotation canceled"}</span></div>
            </div>
          </div>
        </div>
      </li>



      <li class="guide-api__item">
        <h3 class="guide-api__item-title">Перезагрузка устройства</h3>

        <div class="guide-api__box guide-box" aria-expanded="false" role="button" tabindex="0">
          <div class="guide-box__inner">
            <div class="guide-box__field">
              <div class="guide-box__method guide-box__method--get">GET</div>
              <span class="guide-box__text">/api/reboot/</span>
              <div class="guide-box__token">
                <span>&lt;TOKEN&gt;</span>
              </div>

            </div>
            <button class="guide-box__btn btn-reset">Copy</button>
            <span class="guide-box__arrow"></span>
          </div>

          <div class="guide-api__content guide-content" aria-hidden="true">
            <div class="guide-content__url">Base URL: <span>http://api.dproxy.co</span></div>

            <div class="guide-content__fields">
              <div class="guide-content__field"><span class="guide-content__field-reponse">Response</span> <span
                  class="guide-content__field-status">HTTP/1.1 200 OK</span></div>
              <div class="guide-content__field"><span class="guide-content__field-json">{"reboot": "OK", "message": "Reboot is started, wait 1 minute."}</span></div>
            </div>
          </div>
        </div>
      </li>

      <li class="guide-api__item">
        <h3 class="guide-api__item-title">Проверка статуса устройства</h3>

        <div class="guide-api__box guide-box" aria-expanded="false" role="button" tabindex="0">
          <div class="guide-box__inner">
            <div class="guide-box__field">
              <div class="guide-box__method guide-box__method--get">GET</div>
              <span class="guide-box__text">/api/device_status/</span>
              <div class="guide-box__token">
                <span>&lt;TOKEN&gt;</span>
              </div>

            </div>
            <button class="guide-box__btn btn-reset">Copy</button>
            <span class="guide-box__arrow"></span>
          </div>

          <div class="guide-api__content guide-content" aria-hidden="true">
            <div class="guide-content__url">Base URL: <span>http://api.dproxy.co</span></div>

            <div class="guide-content__fields">
              <div class="guide-content__field"><span class="guide-content__field-reponse">Response</span> <span
                  class="guide-content__field-status">HTTP/1.1 200 OK</span></div>
              <div class="guide-content__field"><span class="guide-content__field-json">{"status": "OK", "message": "Device is ready."}</span></div>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

</section>
