<section class="partnership">
  <div class="container">
    <h1 class="partnership__title">Как заработать на аренде мобильных прокси?
      Хотите получать пассивный доход от сдачи в аренду мобильных прокси?
      Всеми продажами и поддержкой занимаемся мы, вы только получаете
      от 15000 рублей в месяц*.</h1>
    <div class="partnership__texts">
      <p class="partnership__text">Вы можете установить у себя дома или в офисе мобильную ферму, подключить ее к нашему
        сайту и зарабатывать.</p>
      <p class="partnership__text">Оборудование размером с системный блок, устанавливается на вашей локации с зоне
        доступности сигнала сотовых операторов (это можно определить по уровню сигнала обычным мобильным телефоном)</p>
      <p class="partnership__text">Ферма подключается к обычной розетке на 220В и интернету от 100Мбит/с с выделенным IP
        адресом(эту услугу предоставляет любой интернет провайдер, как правило называется статический IP адрес).</p>
      <p class="partnership__text">В дальнейшем от вас потребуется только поддерживать баланс на симкартах.</p>
      <p class="partnership__text">Вы можете купить или собрать ферму для своих нужд, и сдавать ее частично или не
        сдавать вообще, сдавать самостоятельно. Мы поможем организовать и это.</p>
    </div>
  </div>
</section>
