<section class="types section-offset">
  <div class="container types__container">
    <h2 class="types__title section-title">Виды прокси</h2>

    <ul class="types__list list-reset">
      <li class="types__item">
        <div class="types__item-top">
          <h3 class="types__item-head">Android</h3>
        </div>

          <ul class="types__item-list list-reset">
            <li class="types__item-el">Специализированный прокси для Android</li>
            <li class="types__item-el">Реальное Android устройство</li>
            <li class="types__item-el">Для задач, где критично совпадение отпечатка устройств</li>
            <li class="types__item-el">Отлично подходит для ZennoDroid</li>
          </ul>
      </li>


      <li class="types__item">
        <div class="types__item-top">
          <h3 class="types__item-head types__item-head--modem">Modem</h3>
        </div>

          <ul class="types__item-list list-reset">
            <li class="types__item-el">Универсальный прокси</li>
            <li class="types__item-el">Отлично подходит для различных задач и множества платформ</li>
            <li class="types__item-el">Идеален для тех, кто ценит гибкость в использовании</li>
          </ul>
      </li>
    </ul>
  </div>
</section>
