<section class="work section-offset">
  <div class="container work__container">
    <h2 class="work__title section-title">С нами удобно работать</h2>

    <div class="work__inner">
      <div class="work__row work__row--1">
        <div class="work__row-info">
          <h3 class="work__row-head">Покупка</h3>
          <ul class="work__row-list work__row-list--1 list-reset">
            <li class="work__row-item">
              Приобрести прокси легко и удобно в нашем Телеграм-боте.
            </li>
            <li class="work__row-item">
              Вам даже не нужно общаться с менеджерами
            </li>
            <li class="work__row-item">
              Все данные о купленных прокси придут вам в Телеграм
            </li>
          </ul>
        </div>

        <div class="work__row-image work__row-image--1">
          <picture>
            <source
              media="(max-width: 768px)"
              srcset="img/work-1-mobile.svg"
              width="350"
              height="450"
            />
            <img
              loading="lazy"
              src="img/work-1.svg"
              class="work__row-img"
              width="336"
              height="415"
              alt="покупка прокси в телеграме"
            />
          </picture>
        </div>
      </div>

      <div class="work__row work__row--2">
        <div class="work__row-image work__row-image--2">
          <picture>
            <source
              media="(max-width: 768px)"
              srcset="img/work-2-mobile.svg"
              width="350"
              height="450"
            />
            <img
              loading="lazy"
              src="img/work-2.svg"
              class="work__row-img"
              width="337"
              height="388"
              alt="покупка прокси в телеграме"
            />
          </picture>
        </div>

        <div class="work__row-info">
          <h3 class="work__row-head">Управление прокси</h3>
          <p class="work__row-text">
            После покупки вам станет доступен <span>личный кабинет</span>, в
            котором вы сможете управлять своими прокси.
          </p>

          <span class="work__row-access">Доступные функции:</span>

          <ul class="work__row-list list-reset work__row-list--2">
            <li class="work__row-item">Получить данные о прокси</li>
            <li class="work__row-item">Перезагрузить устройство</li>
            <li class="work__row-item">Сменить провайдера</li>
            <li class="work__row-item">Установить интервал смены IP</li>
            <li class="work__row-item">Продлить свои прокси</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="work__link-wrapper">
      <a class="work__link" href="https://t.me/Dproxy_bot" target="_blank">
        <span class="work__link-descr">Перейти в Telegram</span>
        <svg
          class="work__link-svg"
          xmlns="http://www.w3.org/2000/svg"
          width="23"
          height="18"
          viewBox="0 0 23 18"
          fill="none"
        >
          <path
            d="M20.3439 0.896188C17.5338 1.98701 5.48456 6.66473 2.15537 7.93964C-0.0773397 8.75625 1.22972 9.52192 1.22972 9.52192C1.22972 9.52192 3.13561 10.1343 4.76948 10.5937C6.40313 11.0531 7.27443 10.5427 7.27443 10.5427L14.9528 5.694C17.6756 3.95866 17.0222 5.38768 16.3686 6.00031C14.9528 7.32744 12.6111 9.41982 10.6507 11.1042C9.77938 11.8187 10.2149 12.4311 10.5963 12.7374C12.0121 13.8604 15.8787 16.1572 16.0963 16.3102C17.2467 17.0735 19.5096 18.1723 19.8537 15.8509L21.2152 7.83775C21.6509 5.13275 22.0865 2.63174 22.1408 1.91723C22.3043 0.181676 20.3439 0.896188 20.3439 0.896188Z"
            fill="url(#paint0_linear_770_2310)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_770_2310"
              x1="-8.62641"
              y1="24.5642"
              x2="19.892"
              y2="-9.49326"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#0A6FCC" />
              <stop offset="1" stop-color="#3BED4D" stop-opacity="0.75" />
            </linearGradient>
          </defs>
        </svg>
      </a>
    </div>

   
  </div>
</section>
